body{
    background-color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    margin: 0;
    font-size:xx-large;
    padding: 30px;
    background-image:url("https://i.pinimg.com/1200x/b9/ec/98/b9ec98be9295ec71c409334e5102adea.jpg");

}

form{
    display: grid;
    background-color:rgb(243, 237, 233);
    grid-template-columns: auto;
    background-color:;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    width: 60%;

    align-items: center;
    padding: 10px;
    box-shadow: color(display-p3 red green blue);
}

 .input {
    margin-bottom: 30px;
    
}

 .btn button {
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 25px;
    display: flex;
   border-radius: 10px;
   background-color:rgba(230, 228, 214, 0.228);
    color: darkviolet;
}
.btn{
    display: flex;
    gap:25%;
    justify-content: center;
    font-weight: bold;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}

h2{
    font-family:'Times New Roman', Times, serif;
}

.inp{
    height: 35px;
    width: 20%;
}
.inp-que{
    height: 35px;
    width:80% ;
}
input[type="radio"]{
    width:30px;
    height: 30px;
}
input[type="text"]{
    font-size: 25px;
    color: rgb(61, 7, 7);
    font-family:Arial, Helvetica, sans-serif;
    
}

#quiz-section{
    display:flex;
    background-color:rgb(243, 237, 233);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    width: 30%;
    padding: 10px;
    box-shadow: color(display-p3 red green blue);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(96, 34, 34);
    gap: 10px;
}
.qhead{
    color: cadetblue;
    font-weight: 700;
    text-align: center;
}


#results-section{
    background-color:rgb(243, 237, 233);
    border: 1px solid black;
    width: 40%;
    padding: 10px;
    box-shadow: color(display-p3 red green blue);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


.quizbtn{
    margin-top: 20px;
    padding: 10px;
    height: 50px;
    width:80px;
    font-size: x-large;
    cursor: pointer;
    color:brown
}

.quizbtn1{
    padding: 20px;
    margin: 10px;
    font-size: x-large;
    color: brown;
    cursor: pointer;
}

@media (max-width: 599px) {
  body {
    font-size: large;
    padding: 10px;
    
  }

  form {
    width: 100%; 
    padding: 8px;
    
  }

  .inp-que {
    width: 100%; 
  }

  .inp {
    width: 100%; 
    font-size: 20px;
  }

  #quiz-section {
    width: 90%;
    padding: 8px;
    font-size: medium;
  }

  #results-section {
    width: 90%;
    padding: 8px;
    font-size: medium;
  }

  .quizbtn, .quizbtn1 {
   
    padding: 2px;
  }

  .btn {
    gap: 10%;
    
    padding: 2px;
  }
}

 
@media (min-width: 600px) and (max-width: 899px) {
  body {
    font-size:medium;
    padding: 10px;
    width: 100%;
  }

  form {
    width: 50%;
    padding: 10px;
    gap: 10px;
  }

  .inp-que {
    width: 100%;
    margin-bottom: 0%;
  }

  .inp {
    width: 80%;
    font-size: 22px;
  }
.qhead{
    font-size: 50px;
    margin-bottom: 0;
}
  #quiz-section {
    width: 60%;
    padding: 10px;
    font-size: xx-large;

  }

  #results-section {
    width: 60%;
    padding: 10px;
    font-size: large;
    margin-top: 0;
    
  }

 .quizbtn, .quizbtn1 {
   
    padding: 2px;
  }

  .btn {
    gap: 10%;
    padding: 2px;
  }

}


    @media (min-width: 900px) and (max-width: 1400px) {
  body {
    font-size: x-large;
    padding: 25px;

  }

  form {
    width: 100%;
    padding: 12px;
  }

  .inp-que {
    width: 100%;
  }

  .inp {
    width: 60%;
    font-size: 24px;
  }

  #quiz-section {
    width: 50%;
    padding: 12px;
    font-size: large;
  }

  #results-section {
    width: 50%;
    padding: 12px;
    font-size: large;
  }


}
